In [2]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv('C:/Users/USER/BITAmin/data/bus_runtime_2000.csv')

# 문제 1-1 
data에서 date, now_station, now_arrive_time 열을 뽑음과 동시에 행을 처음부터 6개를 뽑아 df에 저장하고 csv파일로 내보내세요!

In [3]:
df = data.loc[:5, ['date','now_station', 'now_arrive_time']]
df.to_csv('df.csv', encoding='cp949', index=False)

# 문제 1-2
방금 내보낸 csv파일을 다시 읽어 df에 저장하세요!

In [4]:
df = pd.read_csv('df.csv', encoding='cp949')
df

         date  now_station now_arrive_time
0  2019-10-15      제주대학교입구             06시
1  2019-10-15         제대마을             06시
2  2019-10-15        제대아파트             06시
3  2019-10-15    남국원(아라방면)             06시
4  2019-10-15          도호동             07시
5  2019-10-15  한라중학교/부영아파트             07시

# 문제 1-3 
df와 똑같은 데이터프레임을 dictionary를 활용해 만들어 df2에 할당해주세요. 

hint( values 를 활용하여 작성하시오.)

In [14]:
# 방법1
df2 = pd.DataFrame(df.values, columns=['date', 'now_station', 'now_arrive_time'])
df2

         date  now_station now_arrive_time
0  2019-10-15      제주대학교입구             06시
1  2019-10-15         제대마을             06시
2  2019-10-15        제대아파트             06시
3  2019-10-15    남국원(아라방면)             06시
4  2019-10-15          도호동             07시
5  2019-10-15  한라중학교/부영아파트             07시

In [6]:
# 방법2; dictionary 활용
df2 = {'date': df.date.values,
        'now_station': df.now_station.values,
        'now_arrive_time': df.now_arrive_time.values}
df2 = pd.DataFrame(df2)
df2

         date  now_station now_arrive_time
0  2019-10-15      제주대학교입구             06시
1  2019-10-15         제대마을             06시
2  2019-10-15        제대아파트             06시
3  2019-10-15    남국원(아라방면)             06시
4  2019-10-15          도호동             07시
5  2019-10-15  한라중학교/부영아파트             07시

In [21]:
# cf. array; 리스트의 확장형

a = list(df.values) # a는 list,
b = list(map(list, df.values)) 

display(a) 
display(b)

print(type(a)) # a; list
print(type(b)) # b; list

print(type(a[0])) # a의 요소; array
print(type(b[0])) # b의 요소; list

[array(['2019-10-15', '제주대학교입구', '06시'], dtype=object),
 array(['2019-10-15', '제대마을', '06시'], dtype=object),
 array(['2019-10-15', '제대아파트', '06시'], dtype=object),
 array(['2019-10-15', '남국원(아라방면)', '06시'], dtype=object),
 array(['2019-10-15', '도호동', '07시'], dtype=object),
 array(['2019-10-15', '한라중학교/부영아파트', '07시'], dtype=object)]

[['2019-10-15', '제주대학교입구', '06시'],
 ['2019-10-15', '제대마을', '06시'],
 ['2019-10-15', '제대아파트', '06시'],
 ['2019-10-15', '남국원(아라방면)', '06시'],
 ['2019-10-15', '도호동', '07시'],
 ['2019-10-15', '한라중학교/부영아파트', '07시']]

<class 'list'>
<class 'list'>
<class 'numpy.ndarray'>
<class 'list'>

# 문제 2
df2의 date열의 자료형을 datetime64로 바꿔주세요!

In [7]:
df2['date'] = df2['date'].astype('datetime64')
df2.dtypes

date               datetime64[ns]
now_station                object
now_arrive_time            object
dtype: object

# 문제 3-1
df2에서 now_arrive_time의 빈도수가 가장 적은 값을 찾아 k 라는 변수에 할당해주세요! (한줄로 작성해주세요) 메소드 체이닝~

In [8]:
k = df2['now_arrive_time'].value_counts().index[-1]
k

'07시'

# 문제 3-2
df2에서 now_arrive_time이 k인 행을 모두 뽑고 해당 데이터프레임에서 now_station의 값의 종류를 모두 보여라.(한줄로 작성해주세요)메소드 체이닝~
hint(query 사용!)

In [11]:
# values; 모든 값
df2.query('now_arrive_time == @k')['now_station'].values

array(['도호동', '한라중학교/부영아파트'], dtype=object)

In [12]:
# unique(); 값의 모든 종류
df2.query('now_arrive_time == @k')['now_station'].unique()

array(['도호동', '한라중학교/부영아파트'], dtype=object)